.button {
    font-size: var(--font-base);
    text-decoration: none;
    border: none;
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: .125rem;
    height: 40px;
    padding: .5rem .75rem;
    border-radius: .375rem;

    transition: all .25s ease;

  &.button-only-icon {
    padding-block: .5rem;
    padding-inline: .5rem;
    width: 40px;
    flex-shrink: 0;
  }

  &.button-primary {
    background: var(--green);
    color: var(--white);

    &:hover, &:focus {
        background: var(--dark-green);
    }
  }
}
