.button {
    font-size: var(--font-base);
    text-decoration: none;
    border: none;
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.125rem;
    padding: 0.25rem 0.675rem;
    border-radius: 0.375rem;

    background: var(--green);
    color: var(--white);

    transition: all 0.25s ease;

    & .icon {
        width: 1.5rem;
        height: 1.5rem;
    }

    &:hover, &:focus {
        background: var(--dark-green);
    }
}