body:has(dialog[open]) {
  overflow: hidden;
}

.modal {
    max-width: 350px;
    width: 100%;
    border: 2px solid var(--dark-gray);
    border-radius: .125em;
    padding: 1rem .75rem;
    flex-direction: column;

    &[open] {
      display: flex;
    }

    & > .panel {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        overflow-y: auto;

        & > * {
            margin-block-end: .75rem;
        }
    }
}
