.tabs {
    & > .tabs-controls {
        display: flex;
        margin-bottom: .75rem;

        & > .tab {
            background: transparent;
            border: 0;
            cursor: pointer;
            font-weight: 600;
            font-size: var(--font-medium);
            flex: 1;
            padding: .75rem 1rem;
            border-radius: .25em;

            &.active, &:hover, &:focus {
                background: var(--light-gray);
            }
        }

    }

    & > .panel {
        display: none;

        &.active {
            display: block;
        }
    }
}
