#site-header {
    background: var(--light-gray);
    color: var(--black);

    position: sticky;
    top: 0;

    & .header-wrapper {
        row-gap: 0.25rem;
        padding: 0.75rem 0;

        & #brand-title {
            display: inline-flex;
            align-items: center;
            column-gap: 0.5rem;
            font-family: 'Quicksand', sans-serif;
            font-weight: 700;
        }

        & #menu {
            position: relative;

            & > .menu-toggle {
                width: 2rem; height: 2rem;

                cursor: pointer;

                & .icon.close {
                    display: none;
                    object-fit: cover;
                }

                & .icon.open {
                    display: block;
                }

                /* Hide default <details> chevron */
                list-style: none;
                &::marker, &::-webkit-details-marker {
                    display: none;
                }
            }

            &[open] {
                & > .menu-toggle {
                    & .icon.open {
                        display: none;
                    }
                    & .icon.close {
                        display: block;
                    }
                }
            }

            & > .menu-content {
                width: 50dvw;
                display: flex;
                flex-direction: column;
                position: absolute;
                right: 0;
                font-size: var(--font-small);
                background: var(--white);
                padding: .25rem .75rem;
                border: 1px solid var(--dark-gray);
                border-radius: 0.125rem;
                box-shadow: 0 10px 10px -12px rgba(0, 0, 0, 0.8);
            }
        }

        & #login {
            column-gap: 1rem;

            & #user-preview {
                column-gap: 0.375rem;

                & #user-avatar {
                    width: 36px;
                    height: 36px;
                    border-radius: 9999px;
                    vertical-align: middle;
                }

                & #username {
                    font-weight: 600;
                    font-size: var(--font-small);
                }
            }
        }
    }
}