#map-wrapper {
    height: 50dvh;
    width: 100%;
    border-radius: 0.25em;
    border: 1px solid var(--dark-gray);

    & > #map {
        width: 100%;
        height: 100%;
    }

    @media screen and (min-width: 1025px) {
        height: 100%;
    }
}