/* Form field styling */

input, select {
  font-family: 'Poppins', sans-serif;
  font-size: var(--font-medium);
  font-weight: 500;
}

input[type="text"], input[type="search"], select {
  background: var(--white);
  width: 100%;
  border: 2px solid var(--dark-gray);
  padding: 0.5rem 0.75rem;
  border-radius: 0.125em;
  height: 40px;
}
