/*
Headings
 */
h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
}

h1 {
    font-weight: 700;
    font-size: var(--font-huge);
}

h2 {
    font-weight: 600;
    font-size: var(--font-large);
}

h3 {
    font-weight: 500;
    font-size: var(--font-big);
}

/*
Main
 */
body {
    font-family: 'Inter', sans-serif;
}

label, button, figcaption {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}