/*
Headings
 */
h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
    line-height: 1.35;
}

h1 {
    font-weight: 700;
    font-size: var(--font-huge);
}

h2 {
    font-weight: 600;
    font-size: var(--font-large);
}

h3 {
    font-weight: 600;
    font-size: var(--font-big);
}

h4 {
    font-weight: 600;
    font-size: var(--font-medium);
}

p, span, a {
  line-height: 1.5;
}

/*
Main
 */
body {
    font-family: 'Inter', sans-serif;
}

label, button, figcaption {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}