.hidden {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.hidden-mobile {
    @media (max-width: 762px) {
        display: none;
    }
}

.hidden-desktop {
    @media (min-width: 763px) {
        display: none;
    }
}

.icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: middle;

    &.icon-small {
        width: 1.125rem;
        height: 1.125rem;
    }
}

.heading-icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.card {
    background: var(--white); /* TODO: come up with better colors */
    border: 1px solid var(--dark-gray);
    padding: 0.75rem 1rem;
    border-radius: 0.25em;

    &.card-collapsible {
        & > summary {
            &::-webkit-details-marker {
                display: none;
            }
        }
    }
}

.sr-only {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}